# VSCode stuff (optional: you can keep .vscode if you want to share)
.vscode/

# Python
__pycache__/
*.pyc

# Generated datasets
data/datasets/
data/tests/
data/mug01/colmap/
data/mug01/images/
data/bottle01/colmap/
data/bottle02/colmap/

# If you want photos to stay local/private:
# data/photos_raw/

*.log
*.db

